.block {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  top: 50px;
  bottom: 10px;
  right: 10px;
  left: 10px;
  min-height: 780px;
}

body {
  background-color: rgb(219, 249, 250);
}

style {
  display: inherit;
}

.title {
  color: cadetblue;
}

.butn-color {
  background-color: red;
}

.sub-title {
  color: gray;
}

.mButton {
  color: white;
  background: cadetblue;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 50px;
}

.footer {
  width: 700px;
  padding: 10px;
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}

img {
  padding-top: 20px;
  height: 250px;
  width: 250px;
}

.color-default {
  background-color: rgb(219, 249, 250);
}

